@import url("../popup/__close/popup__close.css");
@import url("../popup/__container/popup__container.css");
@import url("../popup/__edit/popup__edit.css");
@import url("../popup/__submit-button/popup__submit-button.css");
@import url("../popup/_opened/popup_is-opened.css");
@import url("../popup/__image/popup__image.css");
@import url("../popup/__image-title/popup__image-title.css");
@import url("../popup/__figure/popup__figure.css");

.popup {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.603);
  width: 100%;
  height: 100%;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .4s, opacity .4s linear;
}

