@import url("../form/__input/form__input.css");

.form {
  background-color: #ffffff;
  max-width: 430px;
  height: 330px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}