@import url("../__container/_type/popup__container_type_image.css");

.popup__container {
    position: absolute;
    border-radius: 10px;
    display: flex;
    min-height: 330px;
  }
  
  @media screen and (max-width: 590px){
    .popup__container{
      width: 80%;
    }
  }
  
  @media screen and (max-width: 320px){
  .popup__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      padding: 0px;
      border-radius: 10px;
    }
  }