.element__heart {
    margin-top: 6px;
    border: none;
    width: 21px;
    height: 19px;
    padding: 0;
    background-image: url(../../../images/heart1.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

.element__heart_active {
    background-image: url(../../../images/fullheart.svg);
}

.element__heart:hover {
    opacity: .6;
}