.profile__add-button {
    background: black;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    max-width: 150px;
    max-height: 50px;
    width: 100%;
    margin: 35px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../images/add1.svg")
}

.profile__add-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 585px) {
    .profile__add-button {
        max-width: 282px;
        height: 100vh;
    }
}