.elements {
    margin-bottom: 66px;
}

@media screen and (max-width: 885px) {
    .elements {
        margin: 0 auto 66px auto;
        max-width: 750px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 585px) {
    .elements {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}