.popup__close {
  background-image: url("../../../images/Close Icon.svg");
  background-color: transparent;
  border: none;
  background-position: center;
  width: 40.7px;
  height: 40.7px;
  margin-left: auto;
  transition-duration: 1s;
  position: absolute;
  border-radius: 50%;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: .6; 
}

@media screen and (max-width: 425px)
{
  .popup__close {
    margin-left: 240px;
    margin-top: 8px;
  }
}